main{
    h1{
        text-align: center;
    }
    ul{
        width: 500px;
        border: 1px solid grey;
        margin: 0 auto;
        li{
            margin: 2% 0;
        }
    }
}